[Unit]
Description="Start configuration service for the first time"

[Service]
ExecStart=/bin/bash /home/skillf/chrootinstall/bootrun.sh

[Install]
WantedBy=default.target