[Unit]
Description="Start configuration service for the first time"

[Service]
ExecStart=/bin/bash $HOME/archlinuxInstall/bootrun.sh

[Install]
WantedBy=default.target